/*
---------------------------------------------
apply now
---------------------------------------------
*/

section.apply-now {
  background-image: url(../images/apply-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0px;
}

section.apply-now .item {
  background-color: rgba(250,250,250,0.15);
  padding: 40px;
  margin-bottom: 30px;
}

section.apply-now .item h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

section.apply-now .item p {
  color: #fff;
  margin-bottom: 20px;
}

.accordions {
  border-radius: 20px;
  padding: 40px;
  background-color: #fff;
  margin-left: 45px;
}
.accordions .accordion {
  border-bottom: 1px solid #eee;
}
.accordions .last-accordion {
  border-bottom: none;
}
.accordion-head {
  padding: 20px;  
  font-size: 18px;
  font-weight: 700;
  color: #1f272b;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .accordion-head {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
.accordion-head .icon {
  float: right;
  transition: transform 200ms ease-in-out;
}
.accordion-head.is-open {
  color: #f5a425;
  border-bottom: none;
}
.accordion-head.is-open .icon {
  transform: rotate(45deg);
}
.accordion-body {
  overflow: hidden;
  height: 0;
  transition: height 300ms ease-in-out;
  border-bottom: 1px solid #fff;
}
.accordion-body > .content {
  padding: 20px;
  padding-top: 0;
}

/* <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 py-3 flip-card">
                                        <div class="flip-card-inner">
                                          <div class="flip-card-front">
                                            <div class="custom-block bg-white shadow-lg">
                                              <a href="topics-detail.html">
                                                <div class="d-flex">
                                                  <div class="content">
                                                    <h5 class="mb-2">Layanan Kesehatan Anak & Imunisasi</h5>
                                                    <table class="mb-0" style="text-align: justify; color: rgb(151, 151, 151);">
                                                      <tr>
                                                        <td>Senin - Kamis</td>
                                                        <td>:</td>
                                                        <td> 07.30 - 16.00</td>
                                                      </tr>
                                                      <tr>
                                                        <td>Jum'at</td>
                                                        <td>:</td>
                                                        <td> 07.30 - 16.30</td>
                                                      </tr>
                                                    </table>
                                                  </div>
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                          <div class="flip-card-back">
                                            <div class="custom-block bg-white shadow-lg">
                                              <div class="d-flex">
                                                <div class="content">
                                                    <table class="mb-0" style="text-align: justify; color: rgb(151, 151, 151); width:100%;">
                                                        <th>
                                                            <tr>No</tr>
                                                            <tr>Senin & Selasa</tr>
                                                            <tr>Rabu, Kamis dan Jum'at</tr>
                                                        </th>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>BCG</td>
                                                            <td>DPT</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div> */
